{% extends "main.html" %}
{% block title %}Вікторини{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
  <h3>Вікторини</h3>

  {% if user.is_authenticated %}
  <div class="d-flex gap-2">
    <a href="{% url 'quiz:create' %}" class="btn btn-success">Створити</a>
    <a href="{% url 'quiz:room_join' %}" class="btn btn-main">Код</a>
  </div>
  {% endif %}
</div>

<div class="row">
  {% for quiz in quizzes %}
  <div class="col-md-4 mb-4">
    <div class="card-soft p-4 h-100">
      <h5 class="fw-bold">{{ quiz.title }}</h5>
      <p class="text-muted small mb-1">Тема: {{ quiz.theme }}</p>
      <p class="text-muted small">Складність: {{ quiz.complexity }}</p>

      <a href="{% url 'quiz:detail' quiz.pk %}" class="btn btn-main mt-auto w-100">
        Переглянути
      </a>
    </div>
  </div>
  {% empty %}
  <p class="text-muted text-center">Вікторин поки немає</p>
  {% endfor %}
</div>

{% endblock %}
