{% extends "main.html" %}
{% block title %}Редагувати вікторину{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">

    <div class="card p-4 shadow-lg">
      <div class="mb-4 text-center">
        <h3 class="fw-bold">{{ quiz.title }}</h3>
        <p class="text-muted mb-0">Редагування параметрів вікторини</p>
      </div>

      <div class="alert alert-light border">
        Ви можете змінити назву, тему, складність та інші параметри вікторини
      </div>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
          {{ form.as_p }}
        </div>

        <button class="btn btn-main w-100 mt-3">
          Зберегти зміни
        </button>

        <a href="{% url 'quiz:detail' quiz.pk %}"
           class="btn btn-outline-soft w-100 mt-2">
          Скасувати
        </a>
      </form>
    </div>

  </div>
</div>
{% endblock %}