{% extends "main.html" %}
{% block title %}Редагувати вікторину{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card p-4 shadow-lg rounded-4">

      <div class="text-center mb-4">
        <h3 class="fw-bold">{{ quiz.title }}</h3>
        <p class="text-muted mb-0">
          Редагування параметрів вікторини
        </p>
      </div>

      <div class="alert alert-light border rounded-3">
        Ви можете змінити назву, тему, складність та інші параметри
      </div>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-4">
          {{ form.as_p }}
        </div>

        <button class="btn btn-main w-100 btn-glow mb-2">
          Зберегти зміни
        </button>

        <a href="{% url 'quiz:detail' quiz.pk %}"
           class="btn btn-outline w-100 btn-glow">
          Скасувати
        </a>
      </form>

    </div>
  </div>
</div>
{% endblock %}
